<%- include('partials/header') %>
<h1 class="heading"><span>-  Select Your Product Category  -</span></h1>
<div class="selectP">
<div class="sports">
<a href="/Sports">S P O R T S</a>
</div>
<div class="phone">
    <a href="/phone">Electric Appliance</a>
    </div>
    <div class="kitchen">
        <a href="/kitchen">K I T C H E N</a>
    </div>
</div>

<%- include('partials/footer') %>